[submodule "home/.vim/bundle/applescript"]
	path = home/.vim/bundle/applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule "home/.vim/bundle/auto_mkdir"]
	path = home/.vim/bundle/auto_mkdir
	url = https://github.com/DataWraith/auto_mkdir
[submodule "home/.vim/bundle/c-syntax"]
	path = home/.vim/bundle/c-syntax
	url = https://github.com/elkatwork/vim-syntax-files.git
[submodule "home/.vim/bundle/coffee_script"]
	path = home/.vim/bundle/coffee_script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "home/.vim/bundle/csope"]
	path = home/.vim/bundle/csope
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "home/.vim/bundle/dwm"]
	path = home/.vim/bundle/dwm
	url = https://github.com/spolu/dwm.vim.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/genutils"]
	path = home/.vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "home/.vim/bundle/git"]
	path = home/.vim/bundle/git
	url = https://github.com/tpope/vim-git
[submodule "home/.vim/bundle/haml"]
	path = home/.vim/bundle/haml
	url = https://github.com/tpope/vim-haml
[submodule "home/.vim/bundle/javascript"]
	path = home/.vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "home/.vim/bundle/powerline"]
	path = home/.vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "home/.vim/bundle/ruby"]
	path = home/.vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "home/.vim/bundle/scala"]
	path = home/.vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/hollow/vim-colors-solarized
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/taglist"]
	path = home/.vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "home/.vim/bundle/vim-abolish"]
	path = home/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "home/.vim/bundle/vim-conque"]
	path = home/.vim/bundle/vim-conque
	url = https://github.com/elkatwork/vim-conque.git
[submodule "home/.vim/bundle/vim-indent-guides"]
	path = home/.vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-ruby-conque"]
	path = home/.vim/bundle/vim-ruby-conque
	url = https://github.com/elkatwork/vim-ruby-conque.git
[submodule "home/.vim/bundle/vim-sleuth"]
	path = home/.vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "home/.vim/bundle/vim-splitjoin"]
	path = home/.vim/bundle/vim-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
